<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlugInTesting (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PlugInTesting (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PlugInTesting (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PlugInTesting (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BA0433425CDF834FDB88779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66875B6BF5D6DB93CA1E9C64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>689070F56B18512A8215D37E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF77FC4AE435D42823E00528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
